@{
    ViewData["Title"] = "Home Page";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">


<h2 class="text-center">Tüm Ürünler</h2>

<div class="row">


    <div class="col-md-3 my-2">
        <div class="card" style="width: 20rem;">
            <img src="https://cdn.beymen.com/mnresize/596/830/productimages/u2tf1yrs.dnm_MP_a9fed99e-963a-4b6a-b350-02f062840b82_1_12511242251194231023622216113_357.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Asus</h5>
                <p class="card-text">Rog Dizüstü Bilgisayar</p>
                <a asp-controller="Home" asp-action="Privacy" class="btn btn-primary">Ürüne Git</a>

               
                  
            </div>
        </div>
    </div>

    <div class="col-md-3 my-2">
        <div class="card" style="width: 20rem;">
            <img src="https://cdn.beymen.com/mnresize/596/830/productimages/xrpt0cjk.s5t_MP_b4c1980e-1b9a-4180-88ed-e657a0b1c102_1_94376712417220259149750480453_259.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">İphone</h5>
                <p class="card-text">256 GB Mat Siyah Akıllı Cep Telefonu</p>
                 <a asp-controller="Home" asp-action="Iphone" class="btn btn-primary">Ürüne Git</a>
            </div>
        </div>
    </div>

   

    <div class="col-md-3 my-2">
        <div class="card" style="width: 20rem;">
            <img src="https://cdn.beymen.com/mnresize/596/830/productimages/carzj5ma.ip0_MP_90ba5e3c-08ca-4b2f-9a0a-41cb582836a2_1_20515770232743035119011395081_365.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    Karcher
                </h5>
                <p class="card-text">Artisan 5,6 L Kaseli Stand Mikser</p>
                <a asp-controller="Home" asp-action="Karcher" class="btn btn-primary">Ürüne Git</a>
            </div>
        </div>
    </div>



     <div class="col-md-3 my-2">
        <div class="card" style="width: 20rem;">
            <img src="https://cdn.beymen.com/mnresize/596/830/productimages/ndwjvo4t.j21_MP_4e41802d-6d39-4813-ab70-453b30bd2796_1_11442113327402274964380484085_046.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Asus</h5>
                <p class="card-text">Vivobook Dizüstü Bilgisayar</p>
                <a href="#" class="btn btn-primary">Ürüne Git</a>
            </div>
        </div>
    </div>



    <div class="col-md-3 my-2">
        <div class="card" style="width: 20rem;">
            <img src="https://cdn.beymen.com/mnresize/596/830/productimages/khxorpzj.jsq_MP_55fd48dc-ba00-402d-8f63-12381adeaa82_1_03060107060520435351717420713_985.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    Sony
                </h5>
                <p class="card-text">PlayStation 5 Slim 1 TB Oyun Konsolu</p>
                <a href="#" class="btn btn-primary">Ürüne Git</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 my-2">
        <div class="card" style="width: 20rem;">
            <img src="https://cdn.beymen.com/mnresize/1200/1672/productimages/zmirnh1v.qg2_MP_50c0d3d3-06b8-4c06-a01a-0ed294dc39d9_1_26031043962446568112828451352_152.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Inokim</h5>
                <p class="card-text">Ox Black Katlanır Elektrikli Scooter</p>
                <a href="#" class="btn btn-primary">Ürüne Git</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 my-2">
        <div class="card" style="width: 20rem;">
            <img src="https://cdn.beymen.com/mnresize/1200/1672/productimages/cqpffo1g.xd4_MP_2735b51d-cb62-4386-a229-78014e9e9303_1_71218355074242290428263012176_340.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    Versace
                </h5>
                <p class="card-text">VRSCVE3 Metalik Gri Erkek Kol Saati</p>
                <a href="#" class="btn btn-primary">Ürüne Git</a>
            </div>
        </div>
    </div>


    <div class="col-md-3 my-2">
        <div class="card" style="width: 20rem;">
            <img src="https://cdn.beymen.com/mnresize/596/830/productimages/ryy1ximw.k4c_MP_90101f73-dc63-4155-8970-6a72e7aa1265_1_00303322075215087117253336944_121.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Lacoste</h5>
                <p class="card-text">Sport Lt Court 125 Erkek Gri Sneaker</p>
                <a href="#" class="btn btn-primary">Ürüne Git</a>
            </div>
        </div>
    </div>

</div>
