@{
    ViewData["Title"] = "Privacy Policy";
}



<div class="container text-center">
    <div class="row ">
        <div class="col align-self-start" style="margin-top:auto!important">
            

            <div id="carouselExampleDark" class="carousel carousel-dark slide " style="max-width: 1080px;">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="https://cdn.beymen.com/mnresize/596/830/productimages/xrpt0cjk.s5t_MP_b4c1980e-1b9a-4180-88ed-e657a0b1c102_1_94376712417220259149750480453_259.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                         
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="https://cdn.beymen.com/mnresize/596/830/productimages/nclqc5b1.q50_MP_6efe48cc-fc3b-40e1-8e2a-2a0f7e2af8b6_2_72483584637830312039264651028_251.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                           
                        </div>
                    </div>
                    
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>





        </div>
        <div class="col align-self-center">


       

            <div>

                <br /><br /><br />              

                <h2 class="text-center my-xl-5">
İphone 14 Siyah Akıllı Cep Telefonu
                </h2>
                <br /><br /><br />
                <h3>Ürün Özellikleri</h3>

             <li>Apple Türkiye Garantilidir: 2 Yıl

<li>Ön selfie (Kamera) : 12MP
<li>Kamera Çözünürlüğü : 12 MP + 12 MP
<li>Dahili Hafıza : 128 GB
<li>Ekran Boyutu : 6,1 inç
<li>İşlemci Tipi : A14 Bionic çip
<li>İşletim Sistemi : ios
<li>Ekran Tipi : Super Retina XDR ekran
<li>Ekran : 6.1 inç (diyagonal) tam ekran OLED
<li>Ekran HDR Özelliği : HDR ekran
<li>Ekran Özelliği : 625 nit maksimum parlaklık (tipik)





     <div>
                        <button type="submit" class="btn btn-outline-primary my-3">
                            <i class="fa-solid fa-cart-shopping"></i>Sepete Ekle
                        </button>
                    </div>


                    </div>
            </div>


        </div>


    </div>
       
</div>