@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="container text-center">
    <div class="row ">
        <div class="col align-self-start" style="margin-top:auto!important">
            

            <div id="carouselExampleDark" class="carousel carousel-dark slide " style="max-width: 1080px;">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="https://cdn.beymen.com/mnresize/596/830/productimages/carzj5ma.ip0_MP_90ba5e3c-08ca-4b2f-9a0a-41cb582836a2_1_20515770232743035119011395081_365.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                         
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="https://cdn.beymen.com/mnresize/596/830/productimages/wagom1ew.x1g_MP_316e3281-e1e3-4fbb-9883-b4e33331a54e_1_21314036450540041003327288202_525.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                           
                        </div>


                    </div> <div class="carousel-item" data-bs-interval="2000">
                        <img src="https://cdn.beymen.com/mnresize/596/830/productimages/xggyue3t.nii_MP_ad45347c-6041-4447-bd94-55ff0aab1084_1_25288579475373049244655345399_225.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                           
                        </div>
                    </div>
                    
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>





        </div>
        <div class="col align-self-center">


       

            <div>

                <br /><br /><br />              

                <h2 class="text-center my-xl-5">
Karcher Asorti 2500 w Hamur Yoğurma Makinesi                </h2>
                <br /><br /><br />
                <h3>Ürün Özellikleri</h3>

         
<li>Elektrik gücü (W):300
<li>Motor tipi:AC (Alternating current)
<li>Beygir gücü:0.19
<li>Gerilim (V):220-240
<li>Akım (A):0,2
<li>Frekans (Hz):50/60
<li>Elektriksel bağlantı derecesi (W):300
<li>Maks. dönüş hızı:220
<li>Minimum dönüş hızı:58
<li>Kablo uzunluğu:145
<li>Kase Kapasitesi (L):4.8
                    <div>
                        <button type="submit" class="btn btn-outline-primary my-3">
                            <i class="fa-solid fa-cart-shopping"></i>Sepete Ekle
                        </button>
                    </div>
            </div>


        </div>


    </div>
       
</div>